# Binaries
/create-order
/process-order
*.exe
*.out

# Environment
.env
.env.*

# IDE
.idea/
.vscode/

# OS
.DS_Store

# Zipping
bootstrap-process-order

function-process-order.zip
function.zip

event.json
response.json